@import 'include/mixins.styl'
@import 'fonts.css'

// Normalize
normalize-html5()

//Variables
xbold = 'Solomon Sans Black'
normal = 'Solomon Sans Normal'
light = 'Solomon Sans Light'
orange = #EA8400

flex-version = flex
// Global styles

*
	box-sizing: border-box
	outline: none

*::after, *::before
	box-sizing: border-box

body
	margin 0
	font-family normal

.container
	width 1170px
	padding 0	15px
	margin 0 auto
	clearfix()

h1
	font-size 2.625em

h2
	font-size 2em

h3
	font-size 1.625em

h4
	font-size 1.5em

button
	background-color orange
	font-family xbold
	color #fff
	padding 10px 35px
	border 0
	border-radius 3px
	font-size 1.375em
	cursor pointer
	transition ease 0.2s all
	&:hover
		background-color #faa435
	&:active
		transform scale(0.95)

// Header Styles
header
	min-height 70px
	background-color #646D7A
	text-align center
	position fixed
	top 0
	color #fff
	width 100%
	z-index 2
	position relative
	overflow hidden
	p
		margin-top 5px
		margin-bottom 5px
	*
		display inline-block
	.contacts
		position absolute
		padding-top 20px
		right 45%
		top 0
		p
			margin-left 15px
			margin-right 15px
		a
			color #fff
			text-decoration none
			&:hover
				color orange
	.social
		font-weight bold
		margin-left 40px
		padding-top 20px
		background-color orange
		position absolute
		height 100%
		width 100%
		text-align left
		right 0
		width 45%
		top 0
		padding-left 15px
		a
			margin-left 15px
			img
				vertical-align middle
				width 50%

// Header Styles End

// Main Section Styles

main
	background-image url(../img/bg.png)
	min-height 716px
	background-size cover
	background-position center
	padding-top 140px
	padding-bottom 60px
	text-align center
	h1
		font-family light
		color #fff
	.offer
		margin-top 70px
		background-color #fff
		border-radius 50px 0 50px 0
		max-width 700px
		display inline-block
		padding 20px 100px
		h3
			font-family xbold
			margin 0
		p
			font-family normal

// Main Section Styles End

// Work Section Styles

.work
	padding 30px 0
	text-align center
	h2
		margin-top 0
		font-family xbold
		text-align center
	&-item
		display flex!important
		justify-content space-around
		flex-wrap wrap
		&-images
			display inline-flex
			width 41.25%
			flex-wrap wrap
			justify-content space-between
			a img
				width 140px
				margin-bottom 10px
			a:first-child img
				width 100%
		&-content
			text-align left
			width 50%
			p
				font-size 1.275em
				margin-top 0
			> p b
				font-family xbold
		&-cost
			border 2px solid #E3E5E6
			color orange
			padding 15px
			p:after
				content ''
				width 100%
				height 1px
				background-color #000
				display block
			b
				float right
				font-family xbold

.works
	margin-top 20px
	p
		display inline-block
		vertical-align top
		font-family xbold
	ul
		display inline-block
		list-style-type none
		margin-top 5px
		li
			&:before
				content ''
				width 5px
				height 5px
				border-radius 5px
				display inline-block
				vertical-align middle
				margin-bottom 2px
				margin-right 5px
				background-color orange

// Work Section Styles End

// Cost Section Styles

.cost
	text-align center
	padding 30px 0
	h2
		font-family xbold
	p
		font-size 1.275em
	&-content
		display flex
		justify-content space-around
		flex-wrap wrap
	&-item-wrap
		max-width 320px
		display inline-block
		margin-bottom 30px
		padding 0 5px
		padding-top 5px
		button
			width 100%
			height 97px
			padding-bottom 50px
			border-radius 0
			background-color transparent
			background-image url(../img/icons/button.png)
			background-position center
			&:hover
				background-image url(../img/icons/button-hov.png)
		&:nth-child(2) .cost-item span
			background-position -53px 12px
		&:nth-child(3) .cost-item span
			background-position -107px 12px
	&-item
		min-height 590px
		padding 20px
		padding-bottom 40px
		box-shadow 0 0 11px rgba(0,0,0,0.16)
		position relative
		overflow hidden
		span
			width 70px
			height 70px
			background-image url(../img/icons/iconset.png)
			background-color #fff
			background-repeat no-repeat
			background-position 4px 12px
			display inline-block
			border 2px solid #95989A
			border-radius 50px
			position relative
			&:after
				content ''
				height 59px
				width 320px
				left -127px
				z-index -1
				bottom -24px
				position absolute
				display inline-block
				background-color #F3F3F3
		ol
			text-align left
			padding-left 18px
		p
			position absolute
			bottom 0
			font-size 1em
			font-weight bold
			color orange
			padding-right 15px



// Cost Section Styles End

// Popup styles

// Form popup
.form-popup
	position relative
	background #FFF
	padding 20px
	max-width 400px
	margin 20px auto
	border-radius 5px
	.form
		margin-top 20px
		max-width 400px
		text-align center
		font-size 1.5em
		&-group
			margin-bottom 20px
			text-align left
			input
				display block
				margin auto
				margin-top 5px
				width 100%
				font-size 0.9em
				font-family light
				font-style italic
				padding 5px
				border-radius 3px
				border 1px solid gray
				&:focus
					box-shadow 0 0 5px orange
		button
			display inline-block

//#thx popup
#thx
	position relative
	background #FFF
	padding 20px
	max-width 400px
	margin 20px auto
	border-radius 5px
	text-align center
	font-size 1.25em
	.mfp-close
		display none

// Popup styles End


// Custom Styles

//Fancybox
.mfp-close
	cursor pointer!important
	margin-right 0
	transform none!important
	font-size 40px
	&:hover
		background-color transparent

.mfp-with-zoom .mfp-container, .mfp-with-zoom.mfp-bg
	opacity 0
	-webkit-backface-visibility hidden
	/* ideally, transition speed should match zoom duration */
	-webkit-transition all 0.3s ease-out
	-moz-transition all 0.3s ease-out
	-o-transition all 0.3s ease-out
	transition all 0.3s ease-out

.mfp-with-zoom.mfp-ready
	.mfp-container
		opacity 1
.mfp-with-zoom.mfp-ready.mfp-bg
	opacity 0.8
.mfp-with-zoom.mfp-removing .mfp-container, .mfp-with-zoom.mfp-removing.mfp-bg
	opacity 0

//Slick
.slick-prev:before, .slick-next:before
	color orange
	font-size 32px
.slick-prev, .slick-next
	transform: none

// Custom Styles End
@import 'include/media.styl'