extends include/template

block title
	title ЖК Фэнси
block description
	+description('Ремонтные работы для жителей ЖК "Фэнси"')
block keywords
	+keywords('Фэнси, Ремонт, Тюмень')

block css
	// build:css vendor.min.css
	+styles('libs/magnific-popup/dist/magnific-popup.css', 'libs/slick-carousel/slick/slick.css', 'libs/slick-carousel/slick/slick-theme.css')
	// endbuild
	// build:css main.min.css
	+styles('css/fonts.css', 'css/main.css')
	// endbuild

block content
	header
		.container
			.contacts
				p г.Тюмень, ул.Тимирязева 9
				p тел.
					a(href="+79224850000" type="tel") 8 999 999 9999
			.social
				p При поддержке
				a(href="https://vk.com/")
					img(src='../img/icons/vk.png' alt='vk')
	main
		.container
			h1 Вы уже купили новостройку в жилом комплексе "Фэнси" и задумываетесь о ремонте?
			.offer
				h3 Уникальное предложение
				p Ремонт квартиры, точно в срок, #[br] по фиксированной цене со скидкой
				button(href='#form-popup').popup-with-form Узнать
	.work
		.container
			h2 Наши последние работы
			.work-slider
				.work-item
					.work-item-images
						|
						|
						+images-popup(['1-1', '1-2', '1-3', '1-4'])
					.work-item-content
						p #[b Адрес:] ул.Моторостроителей 43
						p #[b Вид ремонта:] Комплекс "Стены"
						.work-item-cost
							p Стоимость материалов: #[b 38 000 рублей]
							p Срок выполения работ: #[b 3 дня]
							p Прощадь: #[b 58м#[sup 2]]
							p Стоимость работ: #[b 8 000 рублей]
						.works
							p Перечень работ:
							ul
								+list("Покраска стен", "Ремонт санузла", "Электромонтажные работы", "Выравнивание пола и стен","Настил полового покрытия","Монтаж натяжных потолков")

				.work-item
					.work-item-images
						|
						|
						+images-popup(['1-1', '1-2', '1-3', '1-4'])
					.work-item-content
						p #[b Адрес:] ул.Моторостроителей 43
						p #[b Вид ремонта:] Комплекс "Стены"
						.work-item-cost
							p Стоимость материалов: #[b 38 000 рублей]
							p Срок выполения работ: #[b 3 дня]
							p Прощадь: #[b 58м#[sup 2]]
							p Стоимость работ: #[b 8 000 рублей]
						.works
							p Перечень работ:
							ul
								+list("Покраска стен", "Ремонт санузла", "Электромонтажные работы", "Выравнивание пола и стен","Настил полового покрытия","Монтаж натяжных потолков")

				.work-item
					.work-item-images
						|
						|
						+images-popup(['1-1', '1-2', '1-3', '1-4'])
					.work-item-content
						p #[b Адрес:] ул.Моторостроителей 43
						p #[b Вид ремонта:] Комплекс "Стены"
						.work-item-cost
							p Стоимость материалов: #[b 38 000 рублей]
							p Срок выполения работ: #[b 3 дня]
							p Прощадь: #[b 58м#[sup 2]]
							p Стоимость работ: #[b 8 000 рублей]
						.works
							p Перечень работ:
							ul
								+list("Покраска стен", "Ремонт санузла", "Электромонтажные работы", "Выравнивание пола и стен", "Настил полового покрытия", "Монтаж натяжных потолков")

	.cost
		.container
			h2 Работа рассчитана
			p Работа рассчитана под каждую квадратуру, просто выберите подходящий комплекс услуг.
			.cost-content
				// Item 1
				.cost-item-wrap
					.cost-item
						h3 Пол
						span
						h4 В неё входит
						ol
							+list("Чистовая подготовка пола под укладку ламината, линолеума", "Высыхает за 1 сутки после нанесения", "Выполняется для обеспыливание и финишного разравнивания поверхности черновой стяжки пола")
						p Стоимость рассчитана в формате все включено (работа + материал)
					button(class='smooth-scroll', data-section='.map') Рассчитать стоимость
				// Item 2
				.cost-item-wrap
					.cost-item
						h3 Стены
						span
						h4 В неё входит
						ol
							+list("Чистовая подготовка пола под укладку ламината, линолеума", "Макс Бурлаченко никогда не станет миллионером", "А, вот, Макс Лебедев давно миллионер")
						p Стоимость рассчитана в формате все включено (работа + материал)
					button(class='smooth-scroll', data-section='.map') Рассчитать стоимость
				// Item 3
				.cost-item-wrap
					.cost-item
						h3 Санузел
						span
						h4 В неё входит
						ol
							+list("Чистовая подготовка пола под укладку ламината, линолеума", "Высыхает за 1 сутки после нанесения", "Выполняется для обеспыливание и финишного разравнивания поверхности черновой стяжки пола", "Гыг, двач, мемы", "Скриптонит Казахский")
						p Стоимость рассчитана в формате все включено (работа + материал)
					button(class='smooth-scroll', data-section='.map') Рассчитать стоимость
	.map(id='map')
		.container
			h2 Выберите вашу квартиру
			.map__sections
				img(src="../img/map.png", alt="map")
				.map__wrap
					.map__block.map__block_1
						a.flat-popup(href="#flat_1")
							include ../img/icons/pin.svg
					.map__block.map__block_2
						a.flat-popup(href="#flat_2")
							include ../img/icons/pin.svg
					.map__block.map__block_3
						a.flat-popup(href="#flat_3")
							include ../img/icons/pin.svg
					.map__block.map__block_4
						a.flat-popup(href="#flat_4")
							include ../img/icons/pin.svg
					.map__block.map__block_5
						a.flat-popup(href="#flat_5")
							include ../img/icons/pin.svg
					.map__block.map__block_6
						a.flat-popup(href="#flat_6")
							include ../img/icons/pin.svg


	.container
		.form-popup(id='form-popup').mfp-hide
			form(action="php/mail.php" name="call" id="call" method="post").form
				//- Hidden Required Fields
				input(type="hidden" name="project_name" value="fancy")
				input(type="hidden" name="admin_email" value="maksim44891@mail.ru")
				Input(type="hidden" name="form_subject" value="Новая заявка на с Фэнси")
				//- END Hidden Required Fields
				.form-group
					label(for="name") Ваше имя
					input(id='name' type="text" name="Имя" required)
				.form-group
					label(for="phone") Ваш номер телефона
					input(id='phone' type="tel" name="Имя" required)
				button(type="submit") Отправить
		#thx.mfp-hide
			img(src="../img/icons/thx.png", alt="thanks")
			p Спасибо, наш менджер свяжется с вами в течение 15 минут!
			button#close OK

		.form-popup(id='flat_1').mfp-hide
			form(action="php/mail.php" name="repair" id="repair" method="post").form
				//- Hidden Required Fields
				input(type="hidden" name="project_name" value="Фэнси")
				input(type="hidden" name="admin_email" value="maksim44891@mail.ru")
				Input(type="hidden" name="form_subject" value="Новая заявка с Фэнси")
				input(type='hidden' name="2A" value="Квартира 2А")
				//- END Hidden Required Fields
				.form-group
					label(for="name") Ваше имя
					input(id='name' type="text" name="Имя" required)
				.form-group
					label(for="phone") Ваш номер телефона
					input(id='phone' type="tel" name="Имя" required)
				.form-group
					label
						input(type="checkbox" id='work_1' name='Сантехника' value="300")
						| Сантехника
					label
						input(type="checkbox" name='Стяжка' value="200" id='work_2')
						| Стяжка
					label
						input(type="checkbox" name='Шпатлевка' id='work_3' value="300")
						| Шпатлевка
				.form-group
					p Сумма #[span(id='sum') 0] рублей
				button(type="submit") Отправить

		.form-popup(id='flat_2').mfp-hide
			form(action="php/mail.php" name="repair" id="repair" method="post").form
				//- Hidden Required Fields
				input(type="hidden" name="project_name" value="Фэнси")
				input(type="hidden" name="admin_email" value="maksim44891@mail.ru")
				Input(type="hidden" name="form_subject" value="Новая заявка с Фэнси")
				input(type='hidden' name="2Б" value="Квартира 2Б")
				//- END Hidden Required Fields
				.form-group
					label(for="name") Ваше имя
					input(id='name' type="text" name="Имя" required)
				.form-group
					label(for="phone") Ваш номер телефона
					input(id='phone' type="tel" name="Имя" required)
				.form-group
					label
						input(type="checkbox" id='work_1' name='Сантехника' value="300")
						| Сантехника
					label
						input(type="checkbox" id='work_2' name='Стяжка' value="200" )
						| Стяжка
					label
						input(type="checkbox" id='work_3' name='Шпатлевка' value="300")
						| Шпатлевка
				.form-group
					p Сумма #[span(id='sum') 0] рублей
				button(type="submit") Отправить

		.form-popup(id='flat_3').mfp-hide
			form(action="php/mail.php" name="repair" id="repair" method="post").form
				//- Hidden Required Fields
				input(type="hidden" name="project_name" value="Фэнси")
				input(type="hidden" name="admin_email" value="maksim44891@mail.ru")
				Input(type="hidden" name="form_subject" value="Новая заявка с Фэнси")
				input(type='hidden' name="1A" value="Квартира 1А")
				//- END Hidden Required Fields
				.form-group
					label(for="name") Ваше имя
					input(id='name' type="text" name="Имя" required)
				.form-group
					label(for="phone") Ваш номер телефона
					input(id='phone' type="tel" name="Имя" required)
				.form-group
					label
						input(type="checkbox" id='work_1' name='Сантехника' value="300")
						| Сантехника
					label
						input(type="checkbox" id='work_2' name='Стяжка' value="200" )
						| Стяжка
					label
						input(type="checkbox" id='work_3' name='Шпатлевка' value="300")
						| Шпатлевка
				.form-group
					p Сумма #[span(id='sum') 0] рублей
				button(type="submit") Отправить

		.form-popup(id='flat_4').mfp-hide
			form(action="php/mail.php" name="repair" id="repair" method="post").form
				//- Hidden Required Fields
				input(type="hidden" name="project_name" value="Фэнси")
				input(type="hidden" name="admin_email" value="maksim44891@mail.ru")
				Input(type="hidden" name="form_subject" value="Новая заявка с Фэнси")
				input(type='hidden' name="1В" value="Квартира 1В")
				//- END Hidden Required Fields
				.form-group
					label(for="name") Ваше имя
					input(id='name' type="text" name="Имя" required)
				.form-group
					label(for="phone") Ваш номер телефона
					input(id='phone' type="tel" name="Имя" required)
				.form-group
					label
						input(type="checkbox" id='work_1' name='Сантехника' value="300")
						| Сантехника
					label
						input(type="checkbox" id='work_2' name='Стяжка' value="200" )
						| Стяжка
					label
						input(type="checkbox" id='work_3' name='Шпатлевка' value="300")
						| Шпатлевка
				.form-group
					p Сумма #[span(id='sum') 0] рублей
				button(type="submit") Отправить

		.form-popup(id='flat_5').mfp-hide
			form(action="php/mail.php" name="repair" id="repair" method="post").form
				//- Hidden Required Fields
				input(type="hidden" name="project_name" value="Фэнси")
				input(type="hidden" name="admin_email" value="maksim44891@mail.ru")
				Input(type="hidden" name="form_subject" value="Новая заявка с Фэнси")
				input(type='hidden' name="2В" value="Квартира 2В")
				//- END Hidden Required Fields
				.form-group
					label(for="name") Ваше имя
					input(id='name' type="text" name="Имя" required)
				.form-group
					label(for="phone") Ваш номер телефона
					input(id='phone' type="tel" name="Имя" required)
				.form-group
					label
						input(type="checkbox" id='work_1' name='Сантехника' value="300")
						| Сантехника
					label
						input(type="checkbox" id='work_2' name='Стяжка' value="200" )
						| Стяжка
					label
						input(type="checkbox" id='work_3' name='Шпатлевка' value="300")
						| Шпатлевка
				.form-group
					p Сумма #[span(id='sum') 0] рублей
				button(type="submit") Отправить

		.form-popup(id='flat_6').mfp-hide
			form(action="php/mail.php" name="repair" id="repair" method="post").form
				//- Hidden Required Fields
				input(type="hidden" name="project_name" value="Фэнси")
				input(type="hidden" name="admin_email" value="maksim44891@mail.ru")
				Input(type="hidden" name="form_subject" value="Новая заявка с Фэнси")
				input(type='hidden' name="2Г" value="Квартира 2Г")
				//- END Hidden Required Fields
				.form-group
					label(for="name") Ваше имя
					input(id='name' type="text" name="Имя" required)
				.form-group
					label(for="phone") Ваш номер телефона
					input(id='phone' type="tel" name="Имя" required)
				.form-group
					label
						input(type="checkbox" id='work_1' name='Сантехника' value="300")
						| Сантехника
					label
						input(type="checkbox" id='work_2' name='Стяжка' value="200" )
						| Стяжка
					label
						input(type="checkbox" id='work_3' name='Шпатлевка' value="300")
						| Шпатлевка
				.form-group
					p Сумма #[span(id='sum') 0] рублей
				button(type="submit") Отправить




block scripts
	//build:js vendor.min.js
	+scripts('libs/jquery/dist/jquery.min.js', 'libs/magnific-popup/dist/jquery.magnific-popup.min.js', 'libs/slick-carousel/slick/slick.min.js', 'libs/jquery.equalheights/jquery.equalheights.min.js', 'libs/jquery.maskedinput/src/jquery.maskedinput.js', 'libs/smooth-scroll/smooth-scroll.js')
	// endbuild
	//build:js main.min.js
	+scripts('js/main.js')
	// endbuild