extends include/template

block title
	title ЖК Фэнси
block description
	+description('Ремонтные работы для жителей ЖК "Фэнси"')
block keywords
	+keywords('Фэнси, Ремонт, Тюмень')

block css
	// build:css vendor.min.css
	+styles('libs/magnific-popup/dist/magnific-popup.css', 'libs/slick-carousel/slick/slick.css', 'libs/slick-carousel/slick/slick-theme.css')
	// endbuild
	// build:css main.min.css
	+styles('css/fonts.css', 'css/main.css')
	// endbuild

block content
	header
		.container
			.contacts
				p г.Тюмень, ул.Тимирязева 9
				p тел.
					a(href="+79224850000" type="tel") 8 999 999 9999
			.social
				p При поддержке
				a(href="https://vk.com/")
					img(src='../img/icons/vk.png' alt='vk')
	main
		.container
			h1 Вы уже купили новостройку в жилом комплексе "Фэнси" и задумываетесь о ремонте?
			.offer
				h3 Уникальное предложение
				p Ремонт квартиры, точно в срок, #[br] по фиксированной цене со скидкой
				button(href='#form-popup').popup-with-form Узнать
	.work
		.container
			h2 Наши последние работы
			.work-slider
				.work-item
					.work-item-images
						|
						|
						+images-popup(['1-1', '1-2', '1-3', '1-4'])
					.work-item-content
						p #[b Адрес:] ул.Моторостроителей 43
						p #[b Вид ремонта:] Комплекс "Стены"
						.work-item-cost
							p Стоимость материалов: #[b 38 000 рублей]
							p Срок выполения работ: #[b 3 дня]
							p Прощадь: #[b 58м#[sup 2]]
							p Стоимость работ: #[b 8 000 рублей]
						.works
							p Перечень работ:
							ul
								+list("Покраска стен", "Ремонт санузла", "Электромонтажные работы", "Выравнивание пола и стен","Настил полового покрытия","Монтаж натяжных потолков")

				.work-item
					.work-item-images
						|
						|
						+images-popup(['1-1', '1-2', '1-3', '1-4'])
					.work-item-content
						p #[b Адрес:] ул.Моторостроителей 43
						p #[b Вид ремонта:] Комплекс "Стены"
						.work-item-cost
							p Стоимость материалов: #[b 38 000 рублей]
							p Срок выполения работ: #[b 3 дня]
							p Прощадь: #[b 58м#[sup 2]]
							p Стоимость работ: #[b 8 000 рублей]
						.works
							p Перечень работ:
							ul
								+list("Покраска стен", "Ремонт санузла", "Электромонтажные работы", "Выравнивание пола и стен","Настил полового покрытия","Монтаж натяжных потолков")

				.work-item
					.work-item-images
						|
						|
						+images-popup(['1-1', '1-2', '1-3', '1-4'])
					.work-item-content
						p #[b Адрес:] ул.Моторостроителей 43
						p #[b Вид ремонта:] Комплекс "Стены"
						.work-item-cost
							p Стоимость материалов: #[b 38 000 рублей]
							p Срок выполения работ: #[b 3 дня]
							p Прощадь: #[b 58м#[sup 2]]
							p Стоимость работ: #[b 8 000 рублей]
						.works
							p Перечень работ:
							ul
								+list("Покраска стен", "Ремонт санузла", "Электромонтажные работы", "Выравнивание пола и стен", "Настил полового покрытия", "Монтаж натяжных потолков")

	.cost
		.container
			h2 Работа рассчитана
			p Работа рассчитана под каждую квадратуру, просто выберите подходящий комплекс услуг.
			.cost-content
				// Item 1
				.cost-item-wrap
					.cost-item
						h3 Пол
						span
						h4 В неё входит
						ol
							+list("Чистовая подготовка пола под укладку ламината, линолеума", "Высыхает за 1 сутки после нанесения", "Выполняется для обеспыливание и финишного разравнивания поверхности черновой стяжки пола")
						p Стоимость рассчитана в формате все включено (работа + материал)
					button Рассчитать стоимость
				// Item 2
				.cost-item-wrap
					.cost-item
						h3 Стены
						span
						h4 В неё входит
						ol
							+list("Чистовая подготовка пола под укладку ламината, линолеума", "Макс Бурлаченко никогда не станет миллионером", "А, вот, Макс Лебедев давно миллионер")
						p Стоимость рассчитана в формате все включено (работа + материал)
					button Рассчитать стоимость
				// Item 3
				.cost-item-wrap
					.cost-item
						h3 Санузел
						span
						h4 В неё входит
						ol
							+list("Чистовая подготовка пола под укладку ламината, линолеума", "Высыхает за 1 сутки после нанесения", "Выполняется для обеспыливание и финишного разравнивания поверхности черновой стяжки пола", "Гыг, двач, мемы", "Скриптонит Казахский")
						p Стоимость рассчитана в формате все включено (работа + материал)
					button Рассчитать стоимость
	.map

	.container
		.form-popup(id='form-popup').mfp-hide
			form(action="php/call.php" name="call" id="call" method="post").form
				//- Hidden Required Fields
				input(type="hidden" name="project_name" value="fancy")
				input(type="hidden" name="admin_email" value="maksim44891@mail.ru")
				Input(type="hidden" name="form_subject" value="Новая заявка на звонок")
				//- END Hidden Required Fields
				.form-group
					label(for="name") Ваше имя
					input(id='name' type="text" name="Имя" required)
				.form-group
					label(for="phone") Ваш номер телефона
					input(id='phone' type="tel" name="Имя" required)
				button(type="submit") Отправить
		#thx.mfp-hide
			img(src="../img/icons/thx.png", alt="thanks")
			p Спасибо, наш менджер свяжется с вами в течение 15 минут!
			button#close OK







block scripts
	//build:js vendor.min.js
	+scripts('libs/jquery/dist/jquery.min.js', 'libs/magnific-popup/dist/jquery.magnific-popup.min.js', 'libs/slick-carousel/slick/slick.min.js', 'libs/jquery.equalheights/jquery.equalheights.min.js', 'libs/jquery.maskedinput/dist/jquery.maskedinput.min.js')
	// endbuild
	//build:js main.min.js
	+scripts('js/main.js')
	// endbuild