rupture.scale = 0 480px 767px 992px 1200px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl'


// (max-width: 1200px)
+below('l')
	.container
		width 970px
	
	header
		background-image linear-gradient(left, #646D7A 63%, orange 37%)
		
// (max-width: 992px)
+below('m')
	.container
		width 750px
	
	header
		background-image linear-gradient(left, #646D7A 68%, orange 32%)
		
// (max-width: 767px)
+below('s')
	.container
		width 100%

// Custom media
+below(593px)
	header
		background-image linear-gradient(top, #646D7A 68%, orange 32%)

// (max-width: 480px)
+below('xs')
	main
		.offer
			padding 20px

// Custom media
+below(447px)
	header
		padding-top 5px

	