rupture.scale = 0 480px 767px 992px 1200px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl'


// (max-width: 1200px)
+below('l')
	.container
		width 970px

// (max-width: 992px)
+below('m')
	.container
		width 750px

	.work
		p
			font-size 1.0625em
		.container
			padding 0 40px

	.works
		p
			margin-bottom 5px
		ul
			padding 0
			margin-top 0



// (max-width: 767px)
+below('s')
	.container
		width 100%

	h1
		font-size (2.625em - 20%)

	header
		display flex
		.contacts, .social
			position inherit
			padding-top 0
		.social
			margin-left -15px
			text-align center
			width 120%


	.work
		&-item
			&-images
				a img
					width 140px
					height 125px
				a:first-child img
					width 140px
					height 125px
			&-cost
				b
					float none
					display inline-block

// (max-width: 480px)
+below('xs')
	main
		.offer
			padding 20px

	.work
		&-item
			&-images
				flex-direction column
				justify-content start



// Custom media
+below(447px)

	header
		padding-top 5px

	.work
		.container
			padding  0 15px
		&-item
			&-images
				width auto
				flex-direction row
				justify-content space-around
				margin-bottom 10px
			&-content
				width auto
				display inline-flex
				flex-wrap wrap
			&-cost
				order: 2
		&s
			margin-top 0

// Custom media iPhone6 & <
+below(380px)
	h1
		font-size (2.625em - 37%)