mixin list(items)
	each item in items 
		li
			a(href=item.href)=item.name

mixin css(...styles)
	each style in styles
		link(rel='stylesheet' src=style)

mixin js(...scripts)
	each script in scripts
		script(src=script)